


<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        ㅤSensores 
     </a>
   </nav>

   <!--AQUI SON LOS BOTONES Y REGISTRO DE SENSORES -->
   <div class="container" >
    <form  >
      <div>
  
          <label  class="form-label" >Sensor</label>
          <input type="text" class="form-control"  formControlName="Nombre_Sesor" >
          </div>
          <br>
              <button class="btn btn-primary">Guardar</button>
              <p> </p>
              <a  class="btn btn-danger" routerLink="/administrador">Cancelar</a>
      </form>
        <!--AQUI ES UN FORMULARIO -->
      <h3>Sensores</h3>

      <div class="containerproductos mb-3">
        <table class="table table-striped table-hover border abajoArriba">
            <thead>
              <tr>
                <th scope="col">LISTA DE SENSORES REGISTRADOS</th>
              </tr>
            </thead>
            <tbody>
               <!-- <tr *ngFor="let sensor of sensores">
              <td>{{sensor.Nombre}}</td> 
              </tr>-->
            </tbody>
          </table>
        </div>